@import url(../css/menue_style.css);

.werke{
  position: relative;
  top: 100px;
  background-color: black;
  width: 70%;
  height: 300vh;
  padding: 0 15%;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  margin-left: 20px;
  color: white;

}

.bilder div{
  display: inline-block;
  float: left;
}

.bilder img{
  width: 100%;
  height: auto;
  display: block;
  margin: 10px 20px;
}

#bild_1,#bild_2,#bild_3{
  width: 33%;
  float: left;
}
#bild_4{
  width: 60%;
  float: left;
}
#bild_5{
  width: 40%;
  float: left;
}
#bild_6,#bild_7{
width: 50%;
float: left;
}

#bild_8{
  width: 100%;
  float:left;
}
